<%layout('/layout/boilerplate') %>
    <h1>All Campgrounds Here</h1>
    <a href="/campgrounds/new">Add a campground</a>
   <%for(let campground of campgrounds) {%>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                <%for(img of campground.images) {%>    
                <img src="<%=img.url%>" alt="" class="img-fluid">
                </div>
                <%}%>
                <div class="col md-8">
                    <div class="card-title"><h5><%= campground.title%></h5></div>
                    <p class="card-text"><%= campground.description%></p>
                    <div class="card-text">
                        <small class="text-muted"><%= campground.location%></small>
                    </div>
                    <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary">view <%= campground.title%></a>
                </div>
            </div>
        </div>
        <%}%>
    
